@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: hsl(240, 10%, 4%);
  --background: hsl(240, 5%, 96%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: hsl(0, 0%, 98%);
    --background: hsl(240, 6%, 10%);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
